* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 700px;
  height: 100%;
  border: solid 1px red;
}

.page .btn-primario {
  width: 90px;
  height: 40px;
  background-color: #5756b2;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.page .btn-primario:hover {
  opacity: 50%;
}

.page .btn-secundario {
  background: none;
  border: none;
  color: #5756b2;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.page .btn-secundario > img {
  height: 12px;
}

.page .btn-secundario:hover {
  opacity: 50%;
}

.caixa-comentarios {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 0px;
}

.caixa-comentarios .controles {
  min-width: 35px;
  height: 80px;
  background-color: #f5f6fa;
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  color: #5756b2;
  font-size: 14px;
  font-weight: 500;
}

.caixa-comentarios .controles .btn-controles {
  background: none;
  border: none;
  cursor: pointer;
}

.caixa-comentarios .controles .btn-controles:hover > img {
  filter: invert(75%);
}

.caixa-comentarios .topo-comentario {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.caixa-comentarios .topo-comentario .dados-usuario {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.caixa-comentarios .topo-comentario .dados-usuario .foto {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 50%;
}

.caixa-comentarios .topo-comentario .dados-usuario .nome-usuario {
  font-weight: bold;
}

.caixa-comentarios .topo-comentario .dados-usuario .data-comentario {
  color: #7b7c7e;
}

.caixa-comentarios .topo-comentario .caixa-botoes {
  display: flex;
  gap: 20px;
}

.caixa-comentarios .comentario {
  font-size: 16px;
  color: #7b7c7e;
  line-height: 1.5;
}

.caixa-fazer-comentarios {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 1fr 100px;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 0px;
}

.caixa-fazer-comentarios .foto {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
}

.caixa-fazer-comentarios .caixa-texto {
  background-color: none;
  border: solid 1px #e4e4e4;
  border-radius: 8px;
  resize: none;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.caixa-fazer-comentarios .caixa-texto:focus {
  border: solid 1px #5756b2;
  box-shadow: 0 0 3px rgba(87, 86, 178, 0.6);
}

.caixa-fazer-comentarios .caixa-texto::placeholder {
  font-size: 14px;
}
