* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.page {
  width: 800px;
  height: 100vh;
}

.page .btn-primario {
  width: 90px;
  height: 40px;
  background-color: #5756b2;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.page .btn-primario:hover {
  opacity: 50%;
}

.page .btn-secundario {
  background: none;
  border: none;
  color: #5756b2;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.page .btn-secundario > img {
  height: 12px;
}

.page .btn-secundario:hover {
  opacity: 50%;
}

.caixa-comments {
  width: 100%;
  max-height: calc(100vh - 170px);
  overflow-y: scroll;
  padding: 0px 15px;
}

.caixa-comments .caixa-comentarios {
  float: right;
}

.caixa-comments .caixa-comentarios .wrapper-comentario,
.caixa-comments .caixa-comentarios .wrapper-comentario-usuario {
  min-width: 770px !important;
}

.caixa-comments .caixa-comentarios .caixa-replies {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.caixa-comments .caixa-comentarios .caixa-replies .linha {
  width: 2px;
  margin: 10px 40px;
  background-color: #ddd;
}

.wrapper-comentario,
.wrapper-comentario-usuario,
.wrapper-resposta,
.wrapper-resposta-usuario {
  min-width: 100%;
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 0px;
}

.wrapper-comentario .controles,
.wrapper-comentario-usuario .controles,
.wrapper-resposta .controles,
.wrapper-resposta-usuario .controles {
  min-width: 35px;
  height: 95px;
  background-color: #f5f6fa;
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  color: #5756b2;
  font-size: 14px;
  font-weight: 500;
}

.wrapper-comentario .controles .btn-controles,
.wrapper-comentario-usuario .controles .btn-controles,
.wrapper-resposta .controles .btn-controles,
.wrapper-resposta-usuario .controles .btn-controles {
  background: none;
  border: none;
  cursor: pointer;
}

.wrapper-comentario .controles .btn-controles:hover > img,
.wrapper-comentario-usuario .controles .btn-controles:hover > img,
.wrapper-resposta .controles .btn-controles:hover > img,
.wrapper-resposta-usuario .controles .btn-controles:hover > img {
  filter: invert(75%);
}

.wrapper-comentario .topo-comentario,
.wrapper-comentario-usuario .topo-comentario,
.wrapper-resposta .topo-comentario,
.wrapper-resposta-usuario .topo-comentario {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.wrapper-comentario .topo-comentario .dados-usuario,
.wrapper-comentario-usuario .topo-comentario .dados-usuario,
.wrapper-resposta .topo-comentario .dados-usuario,
.wrapper-resposta-usuario .topo-comentario .dados-usuario {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.wrapper-comentario .topo-comentario .dados-usuario .foto,
.wrapper-comentario-usuario .topo-comentario .dados-usuario .foto,
.wrapper-resposta .topo-comentario .dados-usuario .foto,
.wrapper-resposta-usuario .topo-comentario .dados-usuario .foto {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 50%;
}

.wrapper-comentario .topo-comentario .dados-usuario .nome-usuario,
.wrapper-comentario-usuario .topo-comentario .dados-usuario .nome-usuario,
.wrapper-resposta .topo-comentario .dados-usuario .nome-usuario,
.wrapper-resposta-usuario .topo-comentario .dados-usuario .nome-usuario {
  font-weight: bold;
}

.wrapper-comentario .topo-comentario .dados-usuario .selo,
.wrapper-comentario-usuario .topo-comentario .dados-usuario .selo,
.wrapper-resposta .topo-comentario .dados-usuario .selo,
.wrapper-resposta-usuario .topo-comentario .dados-usuario .selo {
  background-color: #5756b2;
  height: 60%;
  font-size: 10px;
  padding: 2px 5px;
  color: #fff;
  align-items: center;
}

.wrapper-comentario .topo-comentario .dados-usuario .data-comentario,
.wrapper-comentario-usuario .topo-comentario .dados-usuario .data-comentario,
.wrapper-resposta .topo-comentario .dados-usuario .data-comentario,
.wrapper-resposta-usuario .topo-comentario .dados-usuario .data-comentario {
  color: #7b7c7e;
}

.wrapper-comentario .topo-comentario .caixa-botoes,
.wrapper-comentario-usuario .topo-comentario .caixa-botoes,
.wrapper-resposta .topo-comentario .caixa-botoes,
.wrapper-resposta-usuario .topo-comentario .caixa-botoes {
  display: flex;
  gap: 20px;
}

.wrapper-comentario .topo-comentario .caixa-botoes .btn-deletar,
.wrapper-comentario-usuario .topo-comentario .caixa-botoes .btn-deletar,
.wrapper-resposta .topo-comentario .caixa-botoes .btn-deletar,
.wrapper-resposta-usuario .topo-comentario .caixa-botoes .btn-deletar {
  color: #f1606a;
}

.wrapper-comentario .comentario,
.wrapper-comentario-usuario .comentario,
.wrapper-resposta .comentario,
.wrapper-resposta-usuario .comentario {
  font-size: 16px;
  color: #7b7c7e;
  line-height: 1.5;
}

.wrapper-comentario .comentario .respondendo,
.wrapper-comentario-usuario .comentario .respondendo,
.wrapper-resposta .comentario .respondendo,
.wrapper-resposta-usuario .comentario .respondendo {
  color: #5756b2;
}

.caixa-fazer-comentarios {
  width: 100%;
  min-width: 770px;
  display: grid;
  grid-template-columns: 40px 1fr 100px;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 0px;
}

.caixa-fazer-comentarios .foto {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
}

.caixa-fazer-comentarios .caixa-texto {
  background-color: none;
  border: solid 1px #e4e4e4;
  border-radius: 8px;
  resize: none;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.caixa-fazer-comentarios .caixa-texto:focus {
  border: solid 1px #5756b2;
  box-shadow: 0 0 3px rgba(87, 86, 178, 0.6);
}

.caixa-fazer-comentarios .caixa-texto::placeholder {
  font-size: 14px;
}
