// Cores Primarias
$ModerateBlue: hsl(238, 40%, 52%);
$SoftRed: hsl(358, 79%, 66%);
$LightGrayish: blue hsl(239, 57%, 85%);
$PaleRed: hsl(357, 100%, 86%);

// Cores Secundárias
$DarkBlue: hsl(212, 24%, 26%);
$Grayish: Blue hsl(211, 10%, 45%);
$LightGray: hsl(223, 19%, 93%);
$VeryLightGray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);

$corFundo: rgb(245, 246, 250);
$corRoxo: rgb(87, 86, 178);
$corTexto: rgb(123, 124, 126);