@import 'padroes';

// Estilos Padrões
$corFundo: rgb(245, 246, 250);
$corRoxo: rgb(87, 86, 178);
$corTexto: rgb(123, 124, 126);
$corVermelhoClaro: rgb(241, 96, 106);
$corlinhas: rgb(236, 237, 240);

// Definições Globais
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

// Estilo Projeto
body {
    width: 100%;
    height: 100vh;
    background-color: $corFundo;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page {
    width: 700px;
    height: 100%;
    border: solid 1px red;

    .btn-primario {
        width: 90px;
        height: 40px;
        background-color: $corRoxo;
        color: #fff;
        border: none;
        border-radius: 8px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            opacity: 50%;
        }
    }

    .btn-secundario {
        background: none;
        border: none;
        color: $corRoxo;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        & > img {
            height: 12px;
        }

        &:hover {
            opacity: 50%;
        }
    }
}

.caixa-comentarios {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0px;

    .controles {
        min-width: 35px;
        height: 80px;
        background-color: $corFundo;
        border-radius: 5px;
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        color: $corRoxo;
        font-size: 14px;
        font-weight: 500;

        .btn-controles {
            background: none;
            border: none;
            cursor: pointer;

            &:hover > img {
                filter: invert(75%);
            }
        }
    }

    .topo-comentario {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .dados-usuario {
            display: flex;
            gap: 15px;
            justify-content: space-around;
            align-items: center;
            font-size: 15px;

            .foto {
                width: 30px;
                height: 30px;
                background-color: #ddd;
                border-radius: 50%;
            }

            .nome-usuario {
                font-weight: bold;
            }

            .data-comentario {
                color: $corTexto;
            }
        }

        .caixa-botoes {
            display: flex;
            gap: 20px;
        }
    }

    .comentario {
        font-size: 16px;
        color: $corTexto;
        line-height: 1.5;
    }
}

.caixa-fazer-comentarios {
    width: 100%;
    display: grid;
    grid-template-columns: 40px 1fr 100px;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0px;

    .foto {
        width: 40px;
        height: 40px;
        background-color: #ddd;
        border-radius: 50%;
    }

    .caixa-texto {
        background-color: none;
        border: solid 1px rgb(228, 228, 228);
        border-radius: 8px;
        resize: none;
        padding: 10px 20px;
        cursor: pointer;
        outline: none;

        &:focus {
            border: solid 1px rgb(87, 86, 178);
            box-shadow: 0 0 3px rgba($corRoxo, .60);
        }

        &::placeholder {
            font-size: 14px;
        }
    }

    .btn-enviar {
        // btn-padrao
    }
}
